.vscode/
.codelite/
*.iml
cmake-build-Debug/
cmake-build-Release/
gradlew*
local.properties
build/
bin/
*.zip
libDecimal/compile_flags.txt
benchmark/compile_flags.txt
test/compile_flags.txt
compile_commands.json